<div class="background-header"></div>
<div class="background-footer"></div>
<div class="login-container d-flex justify-content-center align-items-center">
    <div class="login-input-container">
        <div class="container-header text-center mb-4">
            <h2>Welcome Back</h2>
            <div>We're excited to see you again</div>
        </div>
        <div class="input-container">
            <div class="input-field mb-3">
                <div class="mb-1">Email:</div>
                <input type="email" name="email">
            </div>
            <div class="input-field mb-3">
                <div class="mb-1">Password:</div>
                <input type="password" name="password">
            </div>
            <button type="button" class="btn btn-success w-100 mb-1">Log In</button>
            <span>Need an account? <a href="#">Register</a></span>
        </div>
    </div>
</div>