<div class="sidebar-wrapper">
  <div class="chat-sidebar">
    <div id="row1">
      <div id="sidebarHeader">
        <div class="avatarContainer">
          <img src="../../assets/images/noPic.svg" alt="" />
        </div>
        <div class="actionsContainer">
          <img src="../../assets/images/statusIcon.svg" alt="" class="chat-controls ms-4" />

          <button class="btn ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1"
            aria-expanded="false" aria-controls="collapseExample">
            <img src="../../assets/images/chatIcon.svg" alt="" class="chat-controls" />
          </button>

          <div ngbDropdown class="d-inline-block chat-controls ms-3">
            <button class="btn dropdown" id="dropdownMenuButton" ngbDropdownToggle>
              <img src="../../assets/images/moreVertIcon.svg" alt="" />
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton" class="controls-dropdown-menu">
              <button ngbDropdownItem>New Group</button>
              <button ngbDropdownItem>Settings</button>
              <button ngbDropdownItem (click)='logOut()'>Logout</button>
            </div>
          </div>
        </div>
      </div>
      <div class="searchBoxContainer">
        <div id="searchBox">
          <img width="19" src="../../assets/images/searchIcon.svg" />
          <input [(ngModel)]="searchText" type="text" placeholder="Search or start the new chat" />
        </div>
      </div>
    </div>

    <div id="sidebarContent">
      <!-- <div id="noConversations">All chats are archived</div> -->

      <div class="conversation" *ngFor="
            let conversation of !searchText ? conversations : filteredConversations
          " (click)="conversationClicked.emit(conversation)">
        <div class="picture">
          <img src="../../assets/images/noPic.svg" />
        </div>
        <div class="content">
          <div class="conversationHeader">
            <div class="name">{{ conversation.name }}</div>
            <div class="time">{{ conversation.time }}</div>
          </div>
          <div class="message">
            <img *ngIf="!conversation.latestMessageRead" src="../../assets/images/doubleTick.svg" />
            <img *ngIf="conversation.latestMessageRead" src="../../assets/images/doubleTickBlue.svg" />
            {{ conversation.latestMessage }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="collapse h-100 w-100 position-absolute new-chat-sidebar" id="collapseExample1">
    <div id="row1">
      <div id="sidebarHeader">
        <div class="actionsContainer">
          <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1"
            aria-expanded="false" aria-controls="collapseExample">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </button>

          <p class="mb-0">New Chat</p>
        </div>
      </div>
      <div class="searchBoxContainer">
        <div id="searchBox">
          <img width="19" src="../../assets/images/searchIcon.svg" />
          <input [(ngModel)]="searchText" type="text" placeholder="Search or start the new chat" />
        </div>
      </div>
    </div>

    <div id="sidebarContent">
      <div class="conversation" *ngFor="
              let selectedUser of !searchText ? allUsers : filteredConversations
            " (click)="conversationClicked.emit(selectedUser)">
        <div class="picture">
          <img src="../../assets/images/noPic.svg" />
        </div>
        <div class="content">
          <div class="conversationHeader">
            <div class="name">{{ selectedUser.userName }}</div>
            <div class="time">{{ selectedUser.time }}</div>
          </div>
          <p class="user-status mb-0">{{ selectedUser.userStatus }}</p>
          <!-- <div class="message">
            <img *ngIf="!conversation.latestMessageRead" src="../../assets/images/doubleTick.svg" />
            <img *ngIf="conversation.latestMessageRead" src="../../assets/images/doubleTickBlue.svg" />
            {{ conversation.latestMessage }}
          </div> -->
        </div>
      </div>
    </div>
  </div>

</div>