<div class="background-header"></div>
<div class="background-footer"></div>
<div class="signup-container d-flex justify-content-center align-items-center">
    <div class="signup-input-container">
        <div class="container-header text-center mb-4">
            <h2>Create an Account</h2>
        </div>
        <div class="input-container">
            <div class="input-field mb-3">
                <div class="mb-1">Full Name:</div>
                <input type="text" [(ngModel)]="name" name="name">
            </div>
            <div class="input-field mb-3">
                <div class="mb-1">Email:</div>
                <input type="email" [(ngModel)]="email" name="email">
            </div>
            <div class="input-field mb-3">
                <div class="mb-1">Password:</div>
                <input type="password" [(ngModel)]="password" name="password">
            </div>
            <button type="button" (click) = 'signUp()' class="btn btn-success w-100 mb-1">Sign Up</button>
            <span><a href="#" class="login-link" [routerLink]="['/login']">Already have an account?</a></span>
        </div>
    </div>
</div>