/* You can add global styles to this file, and also import other style files */

$base-font-size: 14px;
$sub-text-font-size: 12px;
$base-text-color: black;
$sub-text-color: grey;

$panel-header-background : #ededed;
$icon : #51585c;
$search-panel-background : #f6f6f6;
$input-placeholder: #999;
$chat-panel-background: #f0f0f0;
