/* You can add global styles to this file, and also import other style files */

@import "~@ctrl/ngx-emoji-mart/picker";

$base-font-size: 14px;
$sub-text-font-size: 12px;
$base-text-color: black;
$sub-text-color: grey;
